body{
	background-color:#39c;
	background-image: url('maxresdefault.jpg');
	 background-repeat: no-repeat;
	
	}
h1 {
	color: red;
}

p {
	text-indent:5pt;
	color: red;
}

#hi {
Font-size: 16pt;
Font-weight: Bold;
font-style: italic;
}

img{
	width: 100%;
	filter: invert(100%);
}