body{
	background-color:black;
	background-image: url('maxresdefault.jpg');
	 background-repeat: no-repeat;
	
	}
h1 {
	color: white;
}

p {
	text-indent:5pt;
	color: white;
}

#hi {
Font-size: 16pt;
Font-weight: Bold;
font-style: italic;
}

img{
	width: 100%;
	filter: invert(100%);
}
.topnav {
  background-color: black;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

